.App {
  text-align: center;
}

.App-header,.App-body,.App-footer {
  background-color: #95afc0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* overflow: scroll; */
}

.App-header{
  min-height: 0vh;
}
.App-body{
  min-height: 95vh;
  padding: 10px;
}
.App-footer{
  min-height: 5vh;
}

.App-link {
  color: #535c68;
  font-size: x-small;
}
